<div class="container">
  <header>
    <h1>SSL Dashboard</h1>
    <div class="input-group mb-3">
      <span class="input-group-text">Https://</span>
      <input type="text" class="form-control" placeholder="google.com" [(ngModel)]="inputUrl" aria-label="URL input"
        aria-describedby="button-addon2" />
      <button (click)="getWebsiteCertificate()" class="btn btn-info" type="button" id="button-addon2">Button</button>
    </div>
  </header>

  <table *ngIf="sslInfo" class="table table-active">
    <thead>
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of sslInfoArray">
        <td class="table-dark text-white">{{ item.key }}</td>
        <td class="table-success">{{ item.value }}</td>
      </tr>
    </tbody>
  </table>
</div>